
#Btntop {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:rgb(98, 36, 116);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;

    height: 40px;
    width: 40px;
  }
  
  #Btntop i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  #Btntop:hover {
    background-color: rgb(33, 29, 34); /* Add a dark-grey background on hover */
  }

.nav-item .nav-link{
    text-transform: uppercase;
    color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;

    transition: 0.2s;
    display: block;
    justify-content: center;
    height: 80%;
    margin-top: .4rem;
}

.nav-icon{
    text-align: center;
}

.nav-icon>a{
    color: whitesmoke;
    font-size: 16.5px;
    padding-left: 3px;
    padding-right: 0;
    width: 27px;
}

 a.active{
    background-color:rgb(63, 59, 59);
    border-radius: 10%;
    font-weight: bold;

}

/*Banner slider\formulário*/

.container-fluid{
    padding: 0;
}

#Slidep{
    max-height: 91vh;
    overflow: hidden;
}

#Slidep .carousel-inner .carousel-item{
    position: relative !important;
}

.texto{
    text-shadow: 0px 0px 10px black;
    max-width: 400px;
}

#Slidep .texto h1{
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: left;
    padding-left: 10%;
}

#Slidep .texto h2{
    font-size: 2.5rem;
    color: whitesmoke;
    text-align: left;
}

#Slidep .texto p{
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: justify;
    padding-bottom: auto;
    font-weight:lighter;
    padding-left: 10%;

}

.carousel-inner .carousel-item{
    height: 91vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-indicators .active{
    background-color:white;
    padding-top: 5px;
}

#format{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
}

.backc{
    background-color: rgb(12, 10, 14);
    color: white;
    border-color: transparent;
    box-shadow: black (0 0 0 0.2rem);
}

.form-control.backc:focus {
    color: white;
    background-color: rgb(61, 58, 63);
    border-color: #5a5c5e;
    outline: 0;
    box-shadow: 0 0 0 0.2rem;
}

.form-check{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    margin-left: 21px;
    margin-top: 20px;
}

#botao{
    background-color: rgb(12, 10, 14);
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight:bolder;

    border-color: transparent;

    display: block;
    padding-left: 30%;
    padding-right: 30%;
    margin: 20px auto;
}

/*Sobre*/

.title{
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    font-weight:lighter;
}

h2:after{
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: rgb(98, 36, 116);
    margin: 5px auto auto auto;
}

.about-title{
    vertical-align: auto;
    font-size: 25px;
    color: black;
}

.ser{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.serv{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#draw{
    padding-right: 10px;
    color:rgb(98, 36, 116);
}

#anim-let:hover{
    color: rgb(98, 36, 116);
    transition: 0.2s;
    text-decoration: none;
}

#about-area{
    background-image:linear-gradient(rgba(255, 255, 255, 0.5)), url(./Img/img1.jpg);
    background-size: cover;
    padding: 25px 0 40px 0;
    position: relative;
}

/*Call to Action*/
#call-to-action{
    background-color: rgb(33, 29, 34);
    color: whitesmoke;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;

    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover{
    color: white;
    background-color: rgb(61, 58, 63);
    border-color: #5a5c5e;
    box-shadow: 0 0 0 0.2rem;

    text-decoration: none;
}

/*Galeria*/

.item{
    position: relative;
    transition: .5s ease-in-out;
}
.item:hover{
    filter: brightness(60%);
}

.item .icon{
    position: absolute;
    opacity: 0;
    transition: .5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 40px;
    color: blanchedalmond;
}

.item:hover .icon{
    opacity: 1;
}

#galerry{
    background-color: rgb(33, 29, 34);
    color: whitesmoke;
    padding: 20px;
    margin-top: 50px;
}

.title-two{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    font-weight:lighter;
}

/*Notícias*/

.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
    color: black;
  }
  
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
  }
  
  .owl-carousel .prev-slide{
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
  }
  .owl-carousel .next-slide{
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
  }
  .owl-carousel .prev-slide:hover{
   background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
  background-position: -24px -53px;
  }

#title-card{
    padding-bottom: 0px;
    font-size: 20px;
    color: black;
}

#data-card{
    padding-top: 0px;
    font-size: 16px;
    color: black;
    padding-bottom: 15px;
    font-weight:normal;
}

#news-carousel .bot-card{
    margin-right: auto; 
    margin-left: auto;
    width: 100%;
    text-align: center;
}


#news-carousel .bot-card a{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: #fff;

    width: 100%;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 0.5s;
    border: transparent;
    background-color: rgb(98, 36, 116);

}

#news-carousel .bot-card a:hover{
    color: white;
    background-color: rgb(33, 29, 34);
    border-color: white;
    box-shadow: 0 0 0 0.2rem;

    text-decoration: none;
}

#news-carousel .card-text{
    text-align: justify; 
    font-weight:lighter;
    min-height: 120px;
}



/*Fale conosco */

#contact{
    background-color: rgb(33, 29, 34);
    color: whitesmoke;
    padding: 30px;
    margin-top: 10px;
}

#title-contact{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

.formulario .btn{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;

    display: inline-block;
    padding: 8px 35px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 0px;
    background-color: rgb(98, 36, 116);
    border: 2px solid #fff;
    color: #fff;
}

.formulario .btn:hover{
    color: white;
    background-color: rgb(33, 29, 34);
    border-color: #5a5c5e;
    box-shadow: 0 0 0 0.2rem;

    text-decoration: none;
}

#format2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 1px;
    border-radius: 1px;
}

.form .sombra-form{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(110, 109, 109, 0.3); 
    box-shadow: 0px 0px 20px 3px rgba(110, 109, 109, 0.3);
    padding: 20px
}

.footer{
    background-color:#111; 
    color: white;
    margin-top: 0; 
    width: 100%;
    padding-top: 40px;
}
#footer-top{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 2px;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
}

.social-midias{
    color: whitesmoke;
    font-size: 25px;
    padding-left: 3px;
    padding-right: 0;
}

#contact .borda-numero{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; 
    vertical-align: auto;
}

@media (max-width: 767px){
    #contact .borda-numero{
        border-left: none;
        border-right: none; 
    }
}

.social-midias:hover{
    color: rgb(98, 36, 116);
    text-decoration: none;
}

/* Carrosel not*/

.owl-carousel img{
    height: 220px;
}